<%= button_to "Upvote", link_upvote_url(@link)  %>
<%= button_to "Downvote", link_downvote_url(@link)  %>
<h1 id="">Votes: <%= @link.vote_count %> <%= link_to @link.title, @link.url, :target => "_blank" %></h1>
<p><%= @link.text %></p>
<h2>Comments:</h2>

<%= render partial: "comment_form", :locals => {:comment => nil, :parent_comment_id => nil}  %>

<%= render partial: "comment",
 		locals: {:comment =>  nil, :comments_by_parent => @link.comments_by_parent}  %>
