
<form action="<%= sub.new_record? ? subs_url : sub_url(sub) %>"
	 method="post" accept-charset="utf-8">

 <% unless sub.new_record? %>
 		<input type="hidden" name="_method" value="put" id="_method">
 <% end %>

 <input type="hidden" name="authenticity_token"
 value="<%= form_authenticity_token %>" id="authenticity_token">

 <label for="sub_name">Sub Name</label>
 <input type="text" name="sub[name]" value="<%= sub.name %>" id="sub_name">
 <br>
 <br>
 <% links.each do |link| %>
 <label for="link_title">link_title</label>
 <input type="text" name="link[title]" value="<%= link.title %>" id="link_title"><br>
 <label for="link_url">Url</label>
 <input type="text" name="link[url]" value="<%= link.url %>" id="link_url"><br>
 <label id="link_text">Text (optional)</label>
 <textarea name="link[text]" id="link_text" rows="10" cols="40"><%= link.text %></textarea>
 <br>
 <br>
 <% end %>

	<input type="submit"
		value="<%= sub.new_record? ? "Create" : "Edit" %> Sub">
</form>