<!DOCTYPE html>
<html>
<head>
  <title>RedditApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
Notice: <%= flash[:notice] %>
<% end %>

<div>
<% if logged_in? %>
Hi <%= current_user.username %>
	<%= button_to "Log Out", session_url, :method => :delete %>

 <%	[["New Sub", new_sub_url], ["New Link", new_link_url], ["Your Links", links_url], ["Homepage", subs_url]].each do |title, url| %>
 <%= link_to title, url %>
 <% end %>

<% end %> <%= link_to "Log In", new_session_url unless logged_in? %>

</div>
<hr>
<%= yield %>


</body>
</html>
